<ion-header>
  <ion-navbar>
    <ion-title>Mapa</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-row>
    <div>
      <ion-badge class="badgeOri">Sua localização</ion-badge>
    </div>
    <div>
      <ion-badge class="badgeDest">Igrejas</ion-badge>
    </div>
  </ion-row>

  <div id="map"></div>

</ion-content>
