<ion-header>
  <ion-navbar>
    <ion-title>
      Colab.
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-input placeholder="Username" ></ion-input>
  </ion-item>

  <ion-item>
      <ion-input placeholder="password" type = "password"  ></ion-input>
    </ion-item>
</ion-content>
