<ion-content padding center text-center>
<ion-title>Guia Igrejas</ion-title>

<ion-list>

<ion-item>
  <ion-input placeholder="Username" [(ngModel)]="username"></ion-input>
</ion-item>

<ion-item>
    <ion-input placeholder="password" type = "password"  [(ngModel)]="password" ></ion-input>
  </ion-item>


</ion-list>



 <button ion-button full (click)="login()">Entrar</button>

 <button ion-button full color="light" (click)="goSignup()">Resgistra-se</button>


 <br>
 <br>
<p>Acessar Localizações sem cadastro</p>
<button ion-button (click)="openSobre()" color="dark">Acessar Localizações de Igrejas</button>

</ion-content>
