<ion-header>

  <ion-navbar>
    <ion-title>Cadastro</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>

  <form [formGroup]="signupForm" (ngSubmit)="onSubmit(); $event.preventDefault()">


  <ion-list>
      <ion-item>
      <ion-icon name="person" item left></ion-icon>
      <ion-input type="text" placeholder="Name" formControlName="name" ></ion-input>
    </ion-item>
    <ion-item>
      <ion-icon name="at" item left></ion-icon>
      <ion-input type="text" placeholder="Username" formControlName="username"></ion-input>
    </ion-item>
    <ion-item>
        <ion-icon name="mail" item left></ion-icon>
        <ion-input  type= "mail" placeholder="Email" formControlName="email" ></ion-input>
     </ion-item>
      <ion-item>
          <ion-icon name="lock" item left></ion-icon>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
      </ion-item>
  </ion-list>

<br>
<button ion-button full type="submit()" [disabled]="signupForm.invalid">Criar conta</button>
</form>
</ion-content>


